.App {
  text-align: center;
}
p{
  color: #dcdcdc;
  text-align: left;
  font-size: large;
  width: 700px;
  position: relative;
  top: 20px;
}
.About-me-title{
  color: white;
  font-weight: 600;
  text-align: left;
  width: 700px;
  font-size: 30px;
  position: relative;
  top: 20px;
}
.My-skills-title{
  color: white;
  font-weight: 600;
  text-align: left;
  width: 700px;
  font-size: 30px;
  position: relative;
  top: 20px;
}
.App-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  font-size: 23px;
  position: absolute;
  top: 20px;
  background: none;
  color: white;
  border: none;
}

.linkedin{
  position: absolute;
  right: 270px;
}

.contact{
  position: absolute;
  right: 30px;
}

.projects{
  position: absolute;
  right: 150px;
}

.home{
  position: absolute;
  right: 390px;
}
.navbar{
  background-color: rgba(40, 44, 52, .8);
  height: 70px;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0 , 0, 0, .3);
}

.title{
  color: white;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 13px;
}

.info{
  height: 125px;
  width: 500px;
  background-color: rgb(33, 38, 46);
  box-shadow: 0 2px 5px 0 rgba(0 , 0, 0, .5 );
  margin-top: 7%;
  margin-bottom: 2%;
  text-align: left;
  border-radius: 20px;
}

.name{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  margin: 0px 0px 0px 15px;
  color: #dcdcdc;
}

.by{
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  color:grey;
  margin: 15px 0px 0px 15px;
}

.work{
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  color:grey;
  margin: 0px 0px 0px 15px;
}
